<!doctype html> {% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Controle Financeiro</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/contas.css' %}">
    <script src="{% static 'javascript/listagem.js' %}"></script>
</head>

<body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="{% url 'home' %}" ">Controle Financeiro</a>
            </div>
            <div id="navbar " class="navbar-collapse collapse ">
                <ul class="nav navbar-nav ">
                    <li><a href="{% url 'listar_pagamento' %} ">Contas a Pagar</a></li>
                    <li><a href="{% url 'listar_recebimento' %} ">Contas a Receber</a></li>
                    <li><a href="{% url 'relatorioPagar' %} ">Relatório a Pagar</a></li>
                    <li><a href="{% url 'relatorioReceber' %} ">Relatório a Receber</a></li>
                    <li><a href="{% url 'fluxo_caixa' %} ">Fluxo de Caixa</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container ">
        {% block content %} {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js " integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js " integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd " crossorigin="anonymous "></script>
</body>

</html>