{% extends 'contas/base.html' %} {% block content %}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Contas <b> a Receber</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'cadastrar_recebimento' %}" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Adicionar</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th>

                    <th>Descrição</th>
                    <th>Data Recebimento</th>
                    <th>Data Expectativa</th>
                    <th>Valor</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for conta in listaContas %}
                <tr>
                    <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" name="options[]" value="1">
                            <label for="checkbox1"></label>
                        </span>
                    </td>

                    <td>{{conta.descricao}}</td>
                    <td>{{conta.data_recebimento}}</td>
                    <td>{{conta.data_expectativa}}</td>
                    <td>{{conta.valor}}</td>
                    <td>
                        <a href="{% url 'atualizar_recebimento' conta.id  %}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                        <a href="{% url 'excluir_recebimento' conta.id %}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}